body {
    background-color: #827B60;
}

hr {
    border-color: black;
    margin-top: 5%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
    text-align: center;
}
